/* Navigation  */
#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 8px;
}

/* Home Section */
#home {
    height: 345px;
    padding: 3px 26px;
}

#home::before {
    height: 450px;
}

#home p {
    font-size: 12px;
}

/* Services Section */
#services {
    flex-direction: column;

}

#services.box {
    padding: 10px;
    margin: 45px 0px;
}

#services.box img {
    height: 100px;
}




/* Client section  */
#client {
    flex-wrap: wrap;
}

#client-section img {
    width: 40px;
    padding: 2px 5px;
}

#client img {
    height: auto;
}

/* Contact us Section  */
#contact-box form {
    width: 70%;
}


/* Footer  */


/* utilities class  */
.prim {
    font-size: 25px;

}

.btn {
    font-size: 13px;
    padding: 4px 9px;
}